# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=mindview
GRIDFS_BUCKET_NAME=scans

# File Configuration
MAX_FILE_SIZE_MB=500
